.essay {
    padding: 0 20px;
    font-size: 18px;
    line-height: 1.51;
    max-width: 600px;
    margin-bottom: 60px;
}

.back-arrow {
    font-size: 15px;
    margin: 10px;
}

.scroll-to-top {
    padding: 0 12px;
    border-radius: 30px;
    background-color: aquamarine;
    position: fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 3px 3px #888888;
    font-size: 1.5em;
}

@media only screen and (min-width: 1000px) {
    .back-arrow {
        position: fixed;
        top: 0;
        left: 0;
        margin: 30px;
    }
}